<div id="full_size_bg">

		<!--
		<div class = "form-inline form-group">
			<label id = "hello" class="col-sm-offset-0 control-label">Hello {{username}}</label>
			<a role="button" class="col-sm-offset-0 btn btn-danger" href="/logout/">Logout</a>
		</div>
		-->

		<h2>Game of Thrones App</h2>
		<p>Sup nigga</p>
		<div class="form-group">

			<a class="btn btn-default col-sm-offset-0" role="button" href = "../home/">Home</a>
			<a class="btn btn-default col-sm-offset-0" role="button" href = "../house_matcher/">House Matcher</a>
		  	<!--
		  	{{#if isOwner}}
		  		<a class="btn btn-default col-sm-offset-0" role="button" href = "/categories/">Categories</a>
				<a class="btn btn-default col-sm-offset-0" role="button" href = "/products/">Products</a>
			{{/if}}
			<a class="btn btn-default col-sm-offset-0" role="button" href = "/productsbrowsing/">Products Browsing</a>
			<a class="btn btn-default col-sm-offset-0" role="button" href = "/buyshoppingcart/">Buy Shopping Cart</a>
			-->

		</div>

		<div class="form_group">
			<img src="http://vignette4.wikia.nocookie.net/gameofthrones/images/5/56/Jon_Kill_the_Boy.jpg/revision/latest?cb=20150508120833" class="img-circle" alt="Jon Snow">
		</div>

</div>


<script src="../javascripts/home.js"></script>