<div id="full_size_bg">
		
		<div class="gen_padding" style="padding-left:8%; padding-right:8%">
			<br><br>
			<div class="row" style="padding:1%">
				<a class="col xs-offset-0 col-sm-offset-0 col-md-offset-0" style="padding:5px" href="/../arryn">
				<img src="http://i.imgur.com/zGQOzPv.jpg?1" class="img-circle img-thumbnail image_link" alt="World Map" width="150" height="150">
				</a>

				<a class="col xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:5px" href="/../baratheon">
				<img src="http://i.imgur.com/sYXOAfW.jpg?1" class="img-circle img-thumbnail image_link" alt="World Map" width="150" height="150">
				</a>

				<a class="col xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:5px" href="/../greyjoy">
				<img src="http://i.imgur.com/3ElM84f.jpg?1" class="img-circle img-thumbnail image_link" alt="World Map" width="150" height="150">
				</a>

				<a class="col xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:5px" href="/../lannister">
				<img src="http://i.imgur.com/wZSVNsg.jpg?1" class="img-circle img-thumbnail image_link" alt="World Map" width="150" height="150">
				</a>

				<a class="col xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:5px" href="/../martell">
				<img src="http://i.imgur.com/qO4zbGI.jpg?1" class="img-circle img-thumbnail image_link" alt="World Map" width="150" height="150">
				</a>
			</div>

			<div class="row" style="padding-left:4%; padding-right:4%; padding-top: 1%; padding-bottom:1%;">
				<a class="col xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:5px" href="/../stark">
				<img src="http://i.imgur.com/4QVa5sf.jpg?1" class="img-circle img-thumbnail image_link" alt="World Map" width="150" height="150">
				</a>

				<a class="col xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:5px" href="/../targaryen">
				<img src="http://i.imgur.com/JfZAP6Q.jpg?1" class="img-circle img-thumbnail image_link" alt="World Map" width="150" height="150">
				</a>

				<a class="col xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:5px" href="/../tully">
				<img src="http://i.imgur.com/c3V66KI.jpg?1" class="img-circle img-thumbnail image_link" alt="World Map" width="150" height="150">
				</a>

				<a class="col xs-offset-1 col-sm-offset-1 col-md-offset-1" style="padding:5px" href="/../tyrell">
				<img src="http://i.imgur.com/MLrA5My.jpg?1" class="img-circle img-thumbnail image_link" alt="World Map" width="150" height="150">
				</a>
			</div>

			<div class="row" style="padding-left:1%">
				<a class="col xs-offset-4 col-sm-offset-4 col-md-offset-5" style="padding:5px" href="/../world_map">
				<img src="http://i.imgur.com/xG46Eqw.jpg?1" class="img-circle img-thumbnail image_link" alt="World Map" width="150" height="150">
				</a>
			</div>
			
		</div>

</div>


<script src="../javascripts/home.js"></script>