<div id="full_size_bg_house">

	<div style="padding-left: 15px">
		<br><br>
		<h2>Game of Thrones House Matcher</h2>

		<label class="control-label">GENDER</label>
		<div class="radio">
		  <label><input type="radio" name="gender_radio">Male</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="gender_radio">Female</label>
		</div>

		<label class="control-label">EYE COLOR</label>
		<div class="radio">
		  <label><input type="radio" name="eye_radio">Blue</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="eye_radio">Green</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="eye_radio">Hazel</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="eye_radio">Brown</label>
		</div>

		<label class="control-label">HAIR COLOR</label>
		<div class="radio">
		  <label><input type="radio" name="hair_radio">Red</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="hair_radio">Blonde</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="hair_radio">Dirty Blonde</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="hair_radio">Brown</label>
		</div>
		<div class="radio">
		  <label><input type="radio" name="hair_radio">Black</label>
		</div>

		<button type="submit" value="Submit" class="col-sm-offset-2 btn btn-success btn-lg">WHICH HOUSE AM I IN?</button>

	</div>

</div>


<script src="../javascripts/house_matcher.js"></script>