<div id="full_size_bg_house">

	<div style="padding-left: 15px">
		<br><br>
		<h2>Game of Thrones House Matcher</h2>

		<div class="row centered-form">
	        <div class="col-xs-12 col-sm-8 col-md-2 col-sm-offset-0 col-md-offset-0">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="panel-title">GENDER</label>
					</div>
					<div class="panel-body">
						<div class="radio">
						  <label><input type="radio" name="gender_radio">Male</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="gender_radio">Female</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row centered-form">
	        <div class="col-xs-12 col-sm-8 col-md-2 col-sm-offset-0 col-md-offset-0">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="panel-title">EYE COLOR</label>
					</div>
					<div class="panel-body">
						<div class="radio">
						  <label><input type="radio" name="eye_radio">Blue</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="eye_radio">Green</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="eye_radio">Hazel</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="eye_radio">Brown</label>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row centered-form">
	        <div class="col-xs-12 col-sm-8 col-md-2 col-sm-offset-0 col-md-offset-0">
				<div class="panel panel-default">
					<div class="panel-heading">
						<label class="panel-header">HAIR COLOR</label>
					</div>
					<div class="panel-body">
						<div class="radio">
						  <label><input type="radio" name="hair_radio">Red</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="hair_radio">Blonde</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="hair_radio">Dirty Blonde</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="hair_radio">Brown</label>
						</div>
						<div class="radio">
						  <label><input type="radio" name="hair_radio">Black</label>
						</div>
					</div>
				</div>
			</div>
		</div>
						
		<button type="submit" value="Submit" class="col-sm-offset-0 btn btn-success btn-lg">WHICH HOUSE AM I IN?</button>

	</div>


</div>


<script src="../javascripts/house_matcher.js"></script>