<div id="lannister_bg">

		<div class="row centered-form gen_padding" style="padding-top:35px;">
	        <div class="col-xs-offset-2 col-sm-offset-2 col-md-offset-2 col-xs-8 col-sm-8 col-md-8">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h3 class="panel-title text-center"><b>HOUSE LANNISTER</b></h3>
					</div>
					<div class="panel-body">
						<p>this is some text</p>
					</div>
				</div>
			</div>
		</div>

</div>


<script src="../javascripts/lannister.js"></script>